.product-card {
  max-width: 20%;
  height: 100%;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  &:hover {
    transform: scale(1.05);
    transition: 0.3s;
  }

  img {
    width: 100%;
    object-fit: cover;
  }

  p h4 {
    text-decoration: none;
  }
}

@media only screen and (max-width: 600px) {
  .product-card {
    max-width: 40%;
    margin-bottom: 50px;
  }
}
