.product-container {
  display: flex;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 20px;
  height: 90vh;

  img {
    max-width: 100%;
  }
}

.product-left {
  img {
    max-height: 50vh;
  }
}

.product-right {
  margin-left: 200px;
  max-width: 500px;
  text-align: center;

  button {
    width: 200px;
    height: 40px;
    background-color: #1a1a1a;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;

    &:hover {
      transition: 0.2s;
      background-color: #68646c;
    }
  }
}

@media only screen and (max-width: 600px) {
  .product-container {
    display: flex;
    flex-direction: column;
  }
  .product-right {
    max-width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.loader-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
