.product-container {
  display: flex;

  height: 100vh;
  justify-content: center;
  align-items: center;

  img {
    max-height: 600px;
  }
}

.product-right {
  margin-left: 200px;
  max-width: 500px;
  text-align: center;

  button {
    width: 200px;
    height: 40px;
    background-color: #1a1a1a;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;

    &:hover {
      transition: 0.2s;
      background-color: #68646c;
    }
  }
}
