.header {
  padding: 50px 100px 50px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .store-title {
    font-size: 28px;
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-weight: bold;
  }

  .cart-icon {
    font-size: 35px;
    color: black;

    &:hover {
      transition: 0.2s;
      font-size: 40px;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 600px) {
  .header {
    padding: 30px 20px 30px 20px;
  }
}

.header-right {
  position: relative;
}

.cart-num {
  position: absolute;
  bottom: 0;
  left: 0;

  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
